
.my-footer {
    height: 5em;
    background-color: #3d3d3d;
    margin-top: 2em;
    padding: 1em;
    color: #FFF;
    font-size: 15px;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 1100;
}